<h2>Add Course</h2>
<form method="POST" action="/courses/add">
    <div class="form-group">
        <label for="courseCode">Course Code</label>
        <input type="text" class="form-control" name="courseCode" id="courseCode">
    </div>
    <div class="form-group">
        <label for="courseDescription">Course Description</label>
        <input type="text" class="form-control" name="courseDescription" id="courseDescription">
    </div>
    <button type="submit" class="btn btn-primary">Add Course</button>
</form>
