<h2>Course Details</h2>
<form method="POST" action="/course/update">
    <div class="form-group">
        <label for="courseCode">Course Code</label>
        <input type="text" class="form-control" name="courseCode" id="courseCode" value="{{viewData.course.courseCode}}">
    </div>
    <div class="form-group">
        <label for="courseDescription">Course Description</label>
        <input type="text" class="form-control" name="courseDescription" id="courseDescription"
            value="{{viewData.course.courseDescription}}">
    </div>
    <input type="hidden" name="courseId" value="{{viewData.course.courseId}}">
    <button type="submit" class="btn btn-primary">Update Course</button>
</form>
